@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Popo Font';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  background: #F2F4F6;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #794BC3; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5b27af; 
}


