@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Popo Font';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  background: #F2F4F6;
}
